*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.575);
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;

}
ul{
    list-style: none;
}
.btn{
    cursor: pointer;
    background: red;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 5px;

}
.btn:hover{
    background: rgba(255, 255, 255, 0.336);
    color:red;
    border-color: red;

}
/* Navigation Header */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #fff;
    color: gray;
}
.navbar .logo{
    padding: 0 20px;

}
nav ul{
     display: flex;
     padding: 0 20px;
 }
 nav ul li{
     padding: 10px;
 }
 nav a{
     color: black;
 }
 nav a:hover{
     color: red;
 }
 .main-content{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 15rem;
    height: 75vh;
    background: url(https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29yayUyMGRlc2t8ZW58MHx8MHx8&w=1000&q=80) no-repeat center center/cover;
}
.main-content * {
    z-index: 10;
}
.main-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-content .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    align-items: center;
}
.main-content .content h1{
    text-align: center;
    font-size: 40px;
}
.main-content .content p{
    text-align: center;
    max-width: 700px;
}

.flex{
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    background: white;
    color:rgb(78, 78, 78);
}
.flex h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.flex p{
    font-size: 18px;
    padding-bottom: 20px;
}
.flex .flex-left{
    margin: 20px 20px 20px 120px;
    width: 50%;
    padding-left: 50px;
}
.flex .flex-right{
    padding: 50px;
    margin-left: 150px;
}
.flex .flex-right p{
    font-size: 16px;
    font-weight: 500;
    width: 50%;
}
.flex .flex-right ul{
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.sign{
    color: red;
}
.down-para{
    font-style: italic;
}
.brand_section{
    height: 18vh;
    padding:20px 40px 0 40px;
    background:#fbfbfb;
    border-top: rgba(0, 0, 0, 0.288) 2px solid;
    border-bottom: rgba(0, 0, 0, 0.288) 2px solid;

}
.brand_section ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brand_section img{
    border: #fbfbfb 1px solid;
    border-radius: 15px;
}
.col_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px ;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
}
.col_sec .column_left{
    margin: 20px 20px 20px 70px;
    width: 50%;
}
.col_sec .column_right{
    margin: 20px 70px 20px 20px;
    width: 50%;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e6e5e5;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    /* border-bottom: gray 2px solid; */
}
.symbol{
    font-size: 30px;
    padding-right: 40px;
    color: red;
}
.card_content h3{
    color: rgba(10, 0, 0, 0.507);
    font-size: 20px;
    padding-bottom: 10px;
}
.card_content p{
    color: rgba(10, 0, 0, 0.507);
    font-size: 13px;
    padding-top: 10px;
}
.center_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: white;
}
.center_nav nav ul li{
    margin: 20px;
    font-size: 15px;
    font-weight: 200;
}
.in_btn{
    border:transparent 1px solid;
    padding: 10px 15px;
    background: transparent;
    border-radius: 5px;
    color: rgb(10, 0, 0);
}
.in_btn:focus, .in_btn:hover{
    border: red 1px solid;
    background: rgba(255, 0, 0, 0.904);
    border-radius: 5px;
    color: #fff;
    transition:0.5s ;
}
.image_gallery{
    display: flex;
    justify-content: space-around;
    align-items: centers;
    width: 100%;
    height: 1100px;
    padding: 50px 80px;
    background-color: #fff;
}
.image_card{
    padding: 5px;
}
.image_card img{
    width:100%;
    background-size:cover;
    border-radius: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    background: rgba(59, 59, 59, 0.836);
    color: #fbfbfb;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    line-height: 2.5;
}
.foot-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    margin-right: 30px;
    padding-bottom:10px ;
    margin-left: 15px;
    grid: row gap 100px;
    border-radius: 2px;
}
/* .foot-top .address .social_icon{
    padding:10px;
    width: 18px;
    height: 18px;
} */
.foot-top  h3, .foot-top p{
    padding:10px 0;
}
.foot-top .form_section .input_section{
    height: 28px;
    width: 200px;
}
.foot-top .form_section .btn{
    padding: 0 10px;
    border-radius: 3px;
    font-size: 19px;
} 
.foot-bottom{
    padding:20px 100px;
}