.container-fluid{
    background-color: rgb(228, 228, 228);
    padding-top: 10px;
}
.banner-section .img-fluid{
    width:700px;
}
.banner-section button{
   margin:90px 20px;
}
.card-section{
    margin: 20px;
    padding: 20px;
    align-items: center;
}
.card{
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 5px;
}
.card-body i{
    font-size: 100px;
    padding: 5px;
}
/* .project-section span{
    height: 10px;
    width: 10px;
    margin-top: 2px;
    float: right;
    background-color: rgb(71, 150, 240);
    border-radius: 50%;
    display: inline-block;
} */
.project-section i{
    font-size: 20px;
    display: inline-block;
    margin-left: 250px;
    padding-top: 24px;
    text-decoration: none;
}
.project-section{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background: white;
}
.project-section .container-fluid{
    background-color:white;
}
.project-section .card-body{
    margin-top: 85px;
    background-color: black;
    color: white;
    opacity: 0.7;
}
.project-section .btn{
    float: left;
}
.project-section .card-text{
   align-items: center;
}
.card .card-sm-img{
height: 180px;
width: 100%;
}
.info-section svg{
font-size: 5px;
margin-right: 30px;
justify-content: left;
background-color: rgb(159, 240, 240);
}
.info-section p{
    padding-right: 45px;
}
.card .dot{
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
}
.top-foot{
    color: rgb(100, 100, 100);
    padding: 10px;
}
.top-foot ul{
    list-style: none;
}
.top-foot button{
    margin: 5px;
}
.top-foot h5{
color: rgba(0, 0, 0, 0.678);
}
.top-foot h4{
    color: rgba(51, 51, 51, 0.781);  
}
.top-foot i{
    font-size: 20px;
    margin:7px;
}
.top-foot span{
    font-size: 40px;
    margin: 4px;
}
.top-foot .facebook{
    color: rgba(12, 12, 83, 0.932);
}
.top-foot .gplus{
    color: rgba(223, 9, 9, 0.932);
}
.foot-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}